* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  font: normal 14px/1 'Open Sans', 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
  transition: color 300ms, background-color 300ms;
}

body[theme='dark'] {
  overflow: auto;
  filter: invert(1) hue-rotate(180deg);
}

body[theme='dark'] img,
body[theme='dark'] iframe {
  filter: invert(1) hue-rotate(180deg);
}

.filter-grayscale {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

@media (max-width: 960px) {
  html {
    font-size: 65%;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2 {
  font-size: $font-large;
}

ol,
ul {
  list-style: none;
}

em {
  font-style: normal;
}

strong {
  font-weight: 500;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  th {
    font-weight: normal;
  }
}

label {
  font-weight: normal;
}

a {
  color: $brand;
  text-decoration: none;
}

a:hover,
a:visited,
a:link {
  color: $brand;
  text-decoration: none;
}

input::-webkit-input-placeholder {
  color: $input-placeholder  !important;
}

input::-moz-placeholder {
  color: $input-placeholder  !important;
}

input:-moz-placeholder {
  color: $input-placeholder  !important;
}

input:-ms-input-placeholder {
  color: $input-placeholder  !important;
}

.el-input__icon {
  color: $input-placeholder !important;
}

.panel-body {
  padding: $panel-body-padding;
  @include clearfix;
}

.flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 200px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  @include flex-box-center;
}

.form-group {
  text-align: left;
  margin-bottom: 25px;

  .col-sm-3 {
    display: inline-block;
    width: 24.5%;
    text-align: left;
  }

  .col-sm-9 {
    display: inline-block;
    width: 73.5%;
  }
}

.gray {
  color: $silver-grey;
}

.form-group:before,
.form-group:after {
  content: ' ';
  display: table;
}

@media (max-width: 768px) {
  .form-group {
    margin-bottom: 15px;
  }
}

.wrap-block {
  width: 100%;
}

.wrapper .radius-btn {
  display: inline-block;
  color: $common-link;
  margin: 0.9rem;
  padding: 0.6rem 1rem;
  background-color: $grey;
  border: 1px solid $silver-grey;
  border-radius: 1.5rem;
}

.wrapper .radius-btn:hover {
  cursor: pointer;
  color: $brand;
  border: 1px solid $brand;
  animation: jelly 0.5s;
}

@keyframes jelly {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

.no-padding {
  padding: 0;
}

.divider {
  margin: 10px 0;
}

.mb-normal {
  margin-bottom: 1.8rem;
}

/* ----------------------title font define---------------------- Start*/
.large-font {
  font-size: 5rem;
}

.medium-font {
  font-size: 3.8rem;
}

.small-font {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .large-font {
    font-size: 3.8rem;
  }

  .medium-font {
    font-size: 3rem;
  }

  .small-font {
    font-size: 2.56rem;
  }
}

@media (max-width: 414px) {
  .large-font {
    font-size: 3.8rem;
  }

  .medium-font {
    font-size: 2.88rem;
  }

  .small-font {
    font-size: 2.56rem;
  }
}

/* ----------------------title font define---------------------- End*/

.text-center {
  text-align: center;
}

.blur-effect {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.heart-wrap {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}