.fa-weibo{
  color: #FF3300;
}
.fa-github{
  color: #333333;
}
.fa-twitter{
  color: #47a5ed;
}
.fa-facebook{
  color: #00b0ff;
}
.fa-paper-plane-o{
  color: #2196f3;
}
.fa-weixin{
  background-color: #fafafa;
  color: #26cb2f;
}
.icons{
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 .88em;
  cursor: pointer;
}
.icon-heart{
  width: 2rem;
  height: 2rem;
}
