#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: $header-height;
  .panel-body{
    background-color: $white-grey;
    .main-container{
      width: 100%;
      max-width: 960px;
      margin: auto;
      .entry-list{
        display: inline-block;
        float: left;
        background-color: $white;
        width: 66%;
        .page-responsive{
          padding: 15px 0;
        }
      }
      .tip-box-card{
        .el-card__body{
          padding: 18px 20px !important;
          .no-result-tip{
            text-align: left;
            color: $text-grey;
            line-height: 2rem;
            .no-result-tip-a{
              color: $brand;
              &:hover{
                text-decoration: none;
                color: $brand;
              }
            }
          }
        }
      }
    }
  }
}

.nicelinks-logo{
  display: inline-block;
  color: $black;
  width: 100%;
  margin: 0;
  text-align: center;
  &:hover,
  &:focus,
  &:link,
  &:active,{
    color: $black;
  }
  h1{
    margin: 0 1rem;
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    &:hover,
    &:focus,
    &:link,
    &:active,{
      color: $black;
    }
  }
  img{
    width: 3rem;
  }
}

.nav-menu-item{
  display: inline-block;
  float: right;
  min-width: 72px;
  height: 100%;
  color: #ffffff;
  font-size: 1.2em;
  list-style-type: none;
  margin: 0 10px;
}

.aside-list{
  .aside-widget-title{
    font-weight: 700;
    margin: 10px 0;
    padding-top: 10px;
  }
}

.nav-menu-item:before{
  content:'';
  display:inline-block;
  vertical-align:middle;
  height:100%;
  width:0;
}
