.theme-jade-color{
  background-color: #313538;
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #555a5f 0%, #1c1e20 100%);
  background-image: radial-gradient(circle farthest-corner at center, #555a5f 0%, #1c1e20 100%)
}
.button{
  background: linear-gradient(to left, #abbaab , #ffffff);
}

@media screen and (max-width: 960px) {
  .icons{
    width: 2em;
    height: 2em;
    margin: 0 .77em;
  }
  .button{
    color: #111;
    background-image: radial-gradient(circle farthest-corner at center, #eee 20%, #ccc 68%)
  }
  .theme-jade-color {
    background-color: #dddddd;
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #fff 0%, #ddd 100%);
    background-image: radial-gradient(circle farthest-corner at center, #fff 0%, #ddd 100%)
  }
  #app .header{
    .nav{
      padding: 0;
      .header-logo{
        float: none !important;
        text-align: center;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
        margin: 18px 0px;
      }
      .header-logo-a{
        display: inline-block;
        width: 100%;
      }
      .menu{
        display: block;
      }
      .operate-link{
        display: none;
      }
      .inject-btn{
        display: none;
      }
    }
  }
  #app .menu-expand{
    .menu{
    }
    .sidenav {
      display: block !important;
    }
  }

  #app .el-dialog--small{
    width: 90%;
  }

  #app .wrapper .panel-body{
    padding: 0px;
    .main-container{
      .entry-list{
        display: block;
        width: 100%;
        float: none;
        .links-list .moudle{
          margin: 0px;
          padding: 1rem 1rem;
        }
      }
      .aside-list{
        display: block;
        width: 100%;
        float: none;
        margin: auto;
        border-bottom: 1px solid $moudle-border-color;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #app .header .nav .not-loggedin{
    margin-right: 0;
  }
}

@media screen and (min-width: 960px) {
  #app .menu-expand{
    .menu{
    }
    .sidenav {
      display: none;
    }
  }
}
