#loved-reward {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index:9999;
  color: #130c0e;
}
#loved-reward .reward-modal-shadow{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
}
#loved-reward:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

#loved-reward:target {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}

#reward-me{
  width: 300px;
  height: 0px;
  position: relative;
  @include absolute-fixed-center;
  opacity: 0;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #CCC;
  -webkit-perspective:800px;
     -moz-perspective:800px;
       -o-perspective:800px;
          perspective:800px;
}
#reward {
  width: 100%;
  height: 100%;
  -webkit-transition:-webkit-transform 1s;
     -moz-transition:-moz-transform 1s;
       -o-transition:-o-transform 1s;
          transition:transform 1s;
  -webkit-transform-style:preserve-3d;
     -moz-transform-style:preserve-3d;
       -o-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-transform-origin:left center;
     -moz-transform-origin:left center;
       -o-transform-origin:left center;
          transform-origin:left center;
}
#reward .front, #reward .back{
  height: 100%;
  width: 100%;
  position: absolute;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  -webkit-backface-visibility:hidden;
     -moz-backface-visibility:hidden;
       -o-backface-visibility:hidden;
          backface-visibility:hidden;
}
#reward .front .reward-img{
  width: 100%;
}
#reward .back .reward-img{
  width: 100%;
}
#reward .back {
  -webkit-transform:rotateY(180deg);
     -moz-transform:rotateY(180deg);
       -o-transform:rotateY(180deg);
          transform:rotateY(180deg);
}
#reward.flipped {
  -webkit-transform:translateX(100%) rotateY(180deg);
     -moz-transform:translateX(100%) rotateY(180deg);
       -o-transform:translateX(100%) rotateY(180deg);
          transform:translateX(100%) rotateY(180deg);
}
#loved-reward #reward-me{
  width: 300px;
  height: 300px;
  opacity: 1;
  transition: height 1s, opacity 2s;
}
.reward-select {
  margin: 10px auto;
  width: 100%;
  .el-radio {
    margin: auto 10px;
  }
  input {
    display: inline-block;
    height: 40px;
  }
}
