.main{
  .el-input__inner,
  .el-textarea__inner{
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid $border-grey;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
    &:hover{
      border: 1px solid $brand;
    }
  }

  .el-input.is-disabled .el-input__inner{
    border-color: rgb(209, 219, 229);
    cursor: not-allowed;
  }

  .el-table th{
    text-align: center;
  }
  .el-tag{
    margin: auto 5px;
  }
  .el-table td, .el-table th{
    height: 60px;
  }
  .el-table .cell{
    line-height: 60px;
    height: 60px;
  }
  .el-badge__content.is-fixed{
    top: 8px;
  }
  .el-button--mini{
    padding: 0 4px;
    border-radius: 0px;
    min-width: 60px;
  }
  .el-card{
    border: none;
    .el-card__header{
      text-align: left;
    }
  }
  .box-card{
    .form-group{
      width: 100%;
      min-height: 36px;
    }
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both
    }
    .el-input, .el-textarea{
      max-width: 300px;
    }
    .el-breadcrumb{
      font-size: 1.1em;
    }
  }
}

.el-message-box__wrapper{
  .el-message-box{
    width: 86%;
    min-width: 300px;
    max-width: 450px;
    .el-message-box__header{
      .el-message-box__title{
        display: inline-block;
      }
      .el-message-box__close{
        float: right;
      }
    }
  }
}

.el-menu{
  background-color: $white;
  .el-menu-item{
    color: $black;
  }
  .el-submenu{
    .el-submenu__title{
      color: $black;
    }
    .el-menu-item{
      color: $black;
    }
    .el-menu{
      background-color: $grey;
    }
  }
}

.el-dropdown,
.el-tabs__item,
.el-button,
.el-button--text{
  color: $black;
  transition: color 100ms cubic-bezier(0.125, 0.565, 0.860, 0.310);
  &:hover,&:focus,&:active{
    color: $brand;
  }
}

.el-collapse-item__header{
  text-indent: 15px;
}

.header{
  .el-tabs__header,
  .el-tabs__nav{
    border-bottom: none !important;
  }
  .el-tabs__nav-wrap{
    margin-bottom: 0px !important;
  }
  .el-tabs__nav{
    background-color: #ffffff;
  }
}

.el-button--primary{
  background-color: $black;
  border-color: $black;
  color: $white;
  &:hover,&:focus,&:active{
    background-color: $black;
    border-color: $black;
  }
}

.el-tabs__active-bar{
  background-color: $brand;
}

.el-tabs__item.is-active,
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  color: $brand;
}

.el-input__inner,
.el-textarea__inner{
  border-radius: 1px;
}

.el-tabs__active-bar{
  height: 2px;
}