#app {
  .el-input__inner,
  .el-textarea__inner {
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid $border-grey;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);

    &:hover {
      border: 1px solid $brand;
    }
  }

  .el-input.is-disabled .el-input__inner {
    border-color: rgb(209, 219, 229);
    cursor: not-allowed;
  }

  .el-table th {
    text-align: center;
  }

  .el-tag {
    margin: auto 5px;
  }

  .el-table td,
  .el-table th {
    height: 60px;
  }

  .el-table .cell {
    line-height: 60px;
    height: 60px;
  }

  .el-badge__content.is-fixed {
    top: 8px;
  }

  .el-button--mini {
    padding: 0 4px;
    border-radius: 0px;
    min-width: 60px;
  }

  .el-card {
    border: none;

    .el-card__header {
      text-align: left;
    }
  }

  .box-card {
    .form-group {
      width: 100%;
      min-height: 36px;
    }

    .clearfix:before,
    .clearfix:after {
      display: table;
      content: '';
    }

    .clearfix:after {
      clear: both;
    }

    .el-breadcrumb {
      font-size: 1.8rem;
    }
  }

  .el-menu {
    background-color: $white;

    .el-menu-item {
      color: $black;
      font-size: $font-small;
    }

    .el-submenu {
      .el-submenu__title {
        color: $black;
        font-size: $font-small;
      }

      .el-menu-item {
        color: $black;
      }

      .el-menu {
        background-color: $grey;
      }
    }
  }

  .el-button--default {
    &:hover,
    &:focus,
    &:active {
      color: $brand;
      cursor: pointer;
      border: 1px solid $brand;
      background-color: transparent;
    }
  }

  .el-button--primary {
    background-color: $brand;
    border-color: $brand;
    color: $white;
    font-weight: 500;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      cursor: pointer;
      animation: jelly 0.5s;
      background-color: $brand;
    }
  }

  .el-dropdown,
  .el-tabs__item,
  .el-button--text {
    color: $black;
    transition: color 100ms cubic-bezier(0.125, 0.565, 0.86, 0.31);

    &:hover,
    &:focus,
    &:active {
      color: $brand;
    }
  }

  .el-tabs__active-bar {
    background-color: $brand;
  }

  .el-tabs__item.is-active,
  .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    color: $brand;
  }

  .el-tabs__active-bar {
    height: 2px;
  }

  .el-switch.is-checked .el-switch__core {
    border-color: $brand;
    background-color: $brand;
  }
}

.el-message-box__wrapper {
  .el-message-box {
    width: 86%;
    min-width: 300px;
    max-width: 450px;

    .el-message-box__header {
      .el-message-box__title {
        display: inline-block;
      }

      .el-message-box__close {
        float: right;
      }
    }
  }
}

.header {
  .el-tabs__header,
  .el-tabs__nav {
    border-bottom: none !important;
  }

  .el-tabs__nav-wrap {
    margin-bottom: 0px !important;
  }

  .el-tabs__nav {
    background-color: #ffffff;
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}
