.main{
  .el-table th{
    text-align: center;
  }
  .el-tag{
    margin: auto 5px;
  }
  .el-table td, .el-table th{
    height: 60px;
  }
  .el-table .cell{
    line-height: 60px;
    height: 60px;
  }
  .el-badge__content.is-fixed{
    top: 8px;
  }
  .el-button--mini{
    padding: 0 4px;
    border-radius: 0px;
    min-width: 60px;
  }
  .el-card{
    .el-card__header{
      text-align: left;
    }
  }
  .box-card{
    .form-group{
      width: 100%;
      min-height: 36px;
    }
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both
    }
    .el-input, .el-textarea{
      max-width: 300px;
    }
    .el-breadcrumb{
      font-size: 1.1em;
    }
  }
}
