.main{
  .el-table th{
    text-align: center;
  }
  .el-tag{
    margin: auto 5px;
  }
  .el-table td, .el-table th{
    height: 60px;
  }
  .el-table .cell{
    line-height: 60px;
    height: 60px;
  }
  .el-badge__content.is-fixed{
    top: 8px;
  }
  .el-button--mini{
    padding: 0 4px;
    border-radius: 0px;
    min-width: 60px;
  }
}
