// color
$blue: #2196f3;    // header
$element-blue: #20a0ff;    // header
$dark-blue: #0c82df;    // header hover

$color-enter-link: #bb1c33;

$grey: #f7f8f9;    // body bg
$bg-grey: #fafcff;    // module-header bg
$input-grey: #f2f4f7;    // module-header bg
$text-grey: #707780;
$border-grey: #d7dce5;
$border-black: #7a8ba9;

$black: #333;    // font color
$red: #fa0101;

$entry-list-bg: #fff;
$link-title: #2e3135;
$link-title-hover: #000;

$moudle-border-color: #d1d5da;
$item-border-color: rgba(178,186,194,.5);

$meta-item-color: #b2bac2;
$meta-classify-color: #d500f9;

// size
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;

$header-height: 80px;
