$brand: #2c85ff;

$white: #ffffff;
$black: #000000;
$grey: #f7f8f9;
$red: #fa0101;
$green: #ffff00;

$white-grey: #F4F6FA;
$silver-grey: #707780;
$black-grey: #464547;

$common-link: #48576a;
$common-link-hover: #263238;

$border-grey: #d7dce5;
$border-black: #7a8ba9;

$footer-grey: #969696;
$footer-grey-bg: #eaeaea;

$entry-btn-grey: #97a8be;
$entry-btn-hover: #333333;

$link-title: #2e3135;
$link-title-hover: #000000;

$moudle-border-color: #d1d5da;
$item-border-color: rgba(178, 186, 194, .5);

//----------------------- font size -----------------------
$font-large: 18px;
$font-medium: 16px;
$font-small: 14px;

//--------------------- width height ----------------------
$mobile-screen: 960px;
$small-mobile-screen: 375px;
$side-nav-width: 100%;

$header-height: 80px;
$header-mobile-height: 60px;

$footer-height: 200px;

$section-height: 32rem;
