<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>晚晴幽草轩</title>
    <meta name="description" content="杨琼璞个人博客">
    <meta name="keywords" content="个人博客, 效率至上, 追求极致">
    <meta name="viewport" content="user-scalable=no, width=device-width,initial-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <% if (htmlWebpackPlugin.options.env !== 'development') { %>
      <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        <% if (htmlWebpackPlugin.options.env === 'testing') { %>
        ga('create', 'UA-93070088-1', 'auto');
        <% } else {%>
        ga('create', 'UA-93042170-1', 'auto');
        <% } %>
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'pageVisibilityTracker');
        ga('require', 'urlChangeTracker');
        ga('send', 'pageview');
      </script>
      <script async src="https://www.google-analytics.com/analytics.js"></script>
      <script async src="<%= webpackConfig.output.publicPath %>static/js/autotrack.js"></script>
    <% } %>
  </head>

  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script  src="<%= webpackConfig.output.publicPath %>static/js/vendor.dll.js"></script>
    <script async src="<%= webpackConfig.output.publicPath %>static/js/browsermodal.js"></script>
  </body>
</html>
